<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <processors>
      <uiReturnFieldEditorValues>
        <processor mode="on" type="Sitecore.Shell.Applications.ContentManager.ReturnFieldEditorValues.RegexValidate">
          <patch:d/>
        </processor>
        <processor mode="on" type="Sitecore.Shell.Applications.ContentManager.ReturnFieldEditorValues.RegexValidate" patch:after="processor[@type='Sitecore.Shell.Applications.ContentManager.ReturnFieldEditorValues.SetValues']"/>
      </uiReturnFieldEditorValues>
    </processors>
  </sitecore>
</configuration>